<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275003517126-n8jjnps6gcbmucuehml36k2c05iubg52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275003517126-n8jjnps6gcbmucuehml36k2c05iubg52</string>
	<key>API_KEY</key>
	<string>AIzaSyAQKTyxGcQvYNodWb4O4yNpnI8dghAcqqo</string>
	<key>GCM_SENDER_ID</key>
	<string>275003517126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentalHealthMobileApplication</string>
	<key>PROJECT_ID</key>
	<string>mental-health-app-9a74c</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-app-9a74c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275003517126:ios:bc4dd333e0e23a390a4fc7</string>
</dict>
</plist>